jobs:
  include:

    - stage: golang
      sudo: false
      dist: trusty
      language: go
      go: "1.9"
      before_install:
        - mkdir -p "${HOME}/gopath/src/github.com/aptible/mini-collector"
        - rsync -az "${TRAVIS_BUILD_DIR}/" "${HOME}/gopath/src/github.com/aptible/mini-collector/"
        - export "TRAVIS_BUILD_DIR=${HOME}/gopath/src/github.com/aptible/mini-collector"
        - cd "$TRAVIS_BUILD_DIR"
        - go get -u github.com/golang/dep/cmd/dep
      install:
        - make deps
      script:
        - make fmt
        - git diff --exit-code
        - make test

    - &docker
      stage: docker
      language: generic
      sudo: true
      services:
        - docker
      script:
        - make -f .docker/Makefile build
        - make -f .docker/Makefile test
      env: TAG=aggregator
      before_deploy:
        - export DOCKER_CONFIG="${HOME}/.docker"
        - mkdir -p "$DOCKER_CONFIG"
        - openssl aes-256-cbc -K "$DOCKER_CONF_key" -iv "$DOCKER_CONF_iv" -in .docker/config.json.enc -out "${DOCKER_CONFIG}/config.json" -d
      deploy:
        provider: script
        skip_cleanup: true
        script: make -f .docker/Makefile push
        on:
          branch: master

    -
      <<: *docker
      env: TAG=mini-collector
